/* Value */
$base-margin: 15px;
$portrait-side: 35px;
$content-font: 14px;

/* Color */
$green: #00c89f;
$green-dark: #00b38a;
$red: #ff7b80;
$red-dark: #e15f63;
$blue: #33bded;
$blue-dark: #2e80ae;
$border-color: #d9d9d9;
$content-color: #000;