/* Value */
$base-margin: 15px;
$portrait-side: 35px;
$content-font: 14px;
$almanac-fs: 12px 14px 18px 60px;

/* Color */
$primary: #ffd630;
$sub-primary: #5c9dff;
$green: #00c89f;
$green-dark: #00b38a;
$red: #ff7b80;
$red-dark: #e15f63;
$blue: #33bded;
$blue-dark: #2e80ae;
$border-color: #d9d9d9;
$content-color-sub: rgba(0, 0, 0, .8);
$content-color: #000;
$grey: #888;
$black: #000;
$almanac-border: #f4f4f4;
